@keyframes panning {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	75% {
		background-position: 0 100%;
	}
	200% {
		background-position: 0 0;
	}
}

body {
	/* position: absolute; */
	height: 100%;
	width: 100%;
	background: grey url('./../../static/img/triangular.png'); /* Come up with solution */
	/* filter: blur(0px); */
	/* background-attachment: fixed; */
	background-repeat: repeat; 
	/* overflow: hidden; */
	/* animation: panning 100s infinite linear; */
}

.mainContainer {
	background-color: #ffffff;
	padding: 3vh 3vw;
}